<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <style>
    .form-control{
      width:150px
    }
  </style>
</head>
<body>
  <div class="container">
    <form method="post" action="/changepassword">
      <div class="form-group">
        <label for="username">username</label>
        <input name="username" class="form-control" id="username" placeholder="username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">oldpassword</label>
        <input name="oldpassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">newpassword</label>
        <input name="newpassword" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
	  
      <button type="submit" class="btn btn-default">submit</button>
    </form>
  </div>
</body>
</html>