<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
    $(document).on('click','.btn-delete',function(){
      var element = $(this);
      var id = element.attr('data-id');
      $.ajax({
        url:'/posts/delete/' + id,
        success:function(response){
          if (response.status == 'SUCCESS'){
            element.parents('.panel').fadeOut();
            console.log("delete!")
            alert('delete!');
          } else{
            console.log("fail to delete")
            alert('fail to delete!');
          }
        },
        error:function(err){
          console.log("it's errorrrrrrr")
          console.log(err);
          alert('fail to delete!');
        }
      })
    })
  </script>
</head>
<body>
  <div class="container">
    <% if (username) { %>
      <a class="btn btn-default" href="/changepassword">changepassword</a>
      <a class="btn btn-default" href="/logout">logout</a>
    <% } else { %>
      <a class="btn btn-default" href="/login">login</a>
    <% } %>

    <a class="btn btn-primary" href="/posts">new post</a>
    <h2>posts</h2>
    <div>
      <% for(var i=0; i<posts.length; i++) { %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= posts[i].author %>, Time：<%= posts[i].createTime %></h3>
          </div>
          <div class="panel-body">
            <%= posts[i].content  %>
            <% if (isAdmin) { %>
              <a class="btn-delete" data-id="<%= posts[i]._id %>">delete</a>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>